:root {
	--color1: #000000;
	--color2: #cf0a0a;
	--color3: #dc5f00;
	--color4: #eeeeee;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	background-color: var(--color1);
	display: flex;
	flex-direction: column;
}

.menuParent{
    /* background-color: #EEEEEE; */
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    position: fixed;
    right: 0;
    bottom: 0;
}

/* ############################################################################################################# */
/* source https://www.youtube.com/watch?v=LcyDtkrnZLM */
.menu {
	position: relative;
	width: 260px;
	height: 260px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu li {
	position: absolute;
	left: 0;
	list-style: none;
	transform-origin: 130px;
	transition: 0.5s;
	transition-delay: calc(0.1s * var(--i));
	transform: rotate(0deg) translateX(100px);
}

.menu.active li {
	transform: rotate(calc(360deg / 8 * var(--i)));
}

.menu li a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	font-size: 1.5em;
	border-radius: 50%;
	color: #fff;
	transform: rotate(calc(360deg / -8 * var(--i)));
	color: transparent;
	transition: 1s;
	transition-delay: 0.5s;
}

.menu.active li a {
	color: var(--clr);
}

.menu li a::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 2px;
	border-radius: 2px;
	background: var(--clr);
	transform: rotate(calc(var(--i) * 90deg)) translate(0, 25px);
	transition: heigth 0.5s, width 0.5s, transform 0.5s;
	transition-delay: 0s, 0s, 0s;
}

.menu.active li a::before {
	width: 60px;
	height: 60px;
	border: 2px solid var(--clr);
	box-sizing: border-box;
	background: #2f363e;
	transform: rotate(calc(var(--i) * 90deg)) translate(0px, 0px);
	transition: transform 0.5s, height 0.5s, width 0.5s;
	transition-delay: 1s, 1.5s, 1.5s;
	rotate: 135deg;
}

.menu.active li:hover a::before {
	background: var(--clr);
	color: #2f363e;
	box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 50px var(--clr);
}

.menu li a::after {
	content: "";
	position: absolute;
	left: 50px;
	width: 20px;
	height: 2px;
	background: var(--clr);
	z-index: -1;
	transform: rotate(calc(var(--i) * 0deg)) translate(15px, 0px);
	transition: 0.5s;
	transition-delay: 0.5s;
}

.menu.active li a::after {
	left: 10px;
	width: 40px;
	transition-delay: 0.5s;
	transform: rotate(calc(var(--i) * 45deg)) translate(50px, 0px);
}

.menu.active li:hover a ion-icon {
	position: relative;
	color: #2f363e;
	z-index: 100000;
}

.menuToggle {
	position: absolute;
	height: 60px;
	width: 60px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	border-radius: 50%;
	cursor: pointer;
	font-size: 2em;
	transition: transform 1.5s;
}

.menu.active .menuToggle {
	transform: rotate(315deg);
}

/* ############################################################################################################# */

#deck {
	margin: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#deck_child {
	background-color: var(--color2);
	height: 250px;
	width: 500px;
	border-radius: 10px;
}

.deck_slot_parent {
	display: flex;
	justify-content: space-around;
}

.deck_slot {
	margin: 10px;
	width: 80px;
	height: 100px;
	border: 1px solid var(--color3);
	background-color: var(--color3);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	background: none;
	border: none;
	width: 80px;
	height: 100px;
	font-size: 50px;
	color: var(--color4);
}

#pokemon_list {
	margin: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#pokemon_list_child {
	background-color: var(--color2);
	border-radius: 10px;
	width: 500px;
	height: 550px;
}

#list_pokemon_owned {
	height: 50%;
	display: flex;
	flex-wrap: wrap;
	overflow: scroll;
	padding: 10px;
}

#list_pokemon_unowned {
	height: 50%;
}

#content_unowned_pokemon {
	height: 80%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow: scroll;
	padding-left: 10px;
	padding-right: 10px;
}

#title_label_unowned {
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color3);
}

#title_label_unowned > h3 {
	text-transform: capitalize;
}

div.card {
	margin: 10px;
	display: flex;
	flex-direction: column;
	width: 100px;
	height: 110px;
	background-color: rgba(203, 232, 245, 0.817);
	border-radius: 10px;
	align-items: center;
	transition: transform 0.3s ease;
	animation: bounce 0.3s;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

div.card:hover {
	transform: scale(1.05);
}

div.card > div.image {
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-bottom: 10px;
}

#content_unowned_pokemon div.card > div.image {
	filter: brightness(0%);
}

div.card > h4.poke-name {
	margin-top: 0;
	text-transform: capitalize;
}

::-webkit-scrollbar {
	display: none;
}

@keyframes bounce {
	0% {
		transform: scale(0.9);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}



/* LOGIN-SIGNUP-FORGOT-RESET */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
	width: 700px;
	height: 300px;
	Background-image: url('https://cdn.pixabay.com/photo/2016/07/23/13/21/pokemon-1536855_640.png');
            background-size: cover;
            background-repeat: no-repeat;
			background-position: center;
            overflow: hidden;
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
}
.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h1 {
    font-size: 28px;
    text-align: center;
	margin-right: 170px;
    color: #fff; 
    margin-bottom: 2px; /* Add spacing below the heading */
}
input[type=text], input[type=password], input[type=email] {   
	width: 70%;   
	margin: 7px 0;  
	padding: 12px 20px;   
	display: inline-block;   
	border: 1px solid gray;   
	box-sizing: border-box;
	margin-left: 105px;
	margin-bottom: 20px;
}  
input[type=submit]{
	width: 100%;
	margin: 7px 0;  
	padding: 12px 20px;   
	display: inline-block;   
	border: 1px solid #5CA2E2;   
	color: white;
	box-sizing: border-box;  
	background-color: #5CA2E2; 
}

.btn {
    width: 100%; /* Make the button full-width */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color2); /* Use a variable for the background color */
    color: #fff; /* Change the text color */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth transition effect */
}

.btn:hover {
    background-color: var(--color3); /* Change the background color on hover */
}

