{% extends "layout.html" %}

{% block content %}
    <ul class="menu">
        <div class="menuToggle"> <ion-icon name="add-outline"></ion-icon> </div>

        <li style="--i:1; --clr:#ff2972">
            <a href="#"> <ion-icon name="home-outline"></ion-icon> </a>
        </li>

        <li style="--i:2; --clr:#ff3213">
            <a href="#"> <ion-icon name="bag-handle-outline"></ion-icon> </a>
        </li>

        <li style="--i:3; --clr:#fe3421">
            <a href="#"> <ion-icon name="id-card-outline"></ion-icon> </a>
        </li>

        <li style="--i:4; --clr:#ee3321">
            <a href="#"> <ion-icon name="exit-outline"></ion-icon> </a>
        </li>
    </ul>

    <div id="deck">

        <div id="deck_child">

            <div class="deck_slot_parent">
                <div class="deck_slot"> <button>+</button> </div>
                <div class="deck_slot"> <button>+</button> </div>
                <div class="deck_slot"> <button>+</button> </div>
            </div>
    
            <div class="deck_slot_parent">
                <div class="deck_slot"> <button>+</button> </div>
                <div class="deck_slot"> <button>+</button> </div>
                <div class="deck_slot"> <button>+</button> </div>
            </div>

        </div>

    </div>

    <div id="pokemon_list">

        <div id="pokemon_list_child">

            <div id="list_pokemon_owned">
            
            </div>
            
            <div id="list_pokemon_unowned">
                
                <div id="title_label_unowned">
                    
                    <h3>Belom dapet</h3>
                    
                    <div id="arrow"></div>
                    
                </div>  
                
                <div id="content_unowned_pokemon">
                    
                </div>
            </div>

        </div>

    </div>

    {% raw %}
        <script id="pokeCard" type="text/x-handlebars-template">
            {{#each pokemons}}
            <div class="card">
                <div class="image" style="background: url('{{imageUrl}}');"></div>

                <h4 class="poke-name">{{name}}</h4>

            </div>
            {{/each}}
        </script>
    {% endraw %}

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script>
        let menuToggle = document.querySelector('.menuToggle');
        let menu = document.querySelector('.menu');
        menuToggle.onclick = function(){
            menu.classList.toggle('active');
        }
    </script>
{% endblock content %}