{% extends "layout.html" %}

{% block content %}

    <div class="menuParent">

        <ul class="menu">
            <div class="menuToggle"> <ion-icon name="add-outline"></ion-icon> </div>
    
            <li style="--i:0;--clr:#ff2972">
                <a href="{{ url_for('logout') }}"> <ion-icon name="exit-outline"></ion-icon> </a>
                
            </li>
            
            <li style="--i:1;--clr:#fee800">
                <a href="{{ url_for('index') }}"> <ion-icon name="home-outline"></ion-icon> </a>
            </li>
            
            <li style="--i:2;--clr:#04fc43">
                <a href="#"> <ion-icon name="person-circle-outline"></ion-icon> </a>
            </li>
            
            <li style="--i:3;--clr:#fe00f1">
                <a href="#"> <ion-icon name="bag-handle-outline"></ion-icon> </a>
            </li>
    
            <li style="--i:4;--clr:#00b0fe">
                <a href="#"> <ion-icon name="diamond-outline"></ion-icon> </a>
            </li>
            
            <li style="--i:5;--clr:#fea600">
                <a href="#"> <ion-icon name="help-circle-outline"></ion-icon> </a>
            </li>
    
            <li style="--i:6;--clr:#a529ff">
                <a href="#"> <ion-icon name="film-outline"></ion-icon> </a>
            </li>
    
            <li style="--i:7;--clr:#01bdab">
                <a href="https://github.com/ezrazka/Pokedex" target="_blank"> <ion-icon name="logo-github"></ion-icon> </a>
                
            </li>
        </ul>
    </div>

    <div id="deck">

        <div id="deck_child">

            <div class="deck_slot_parent">
                <div class="deck_slot"> <button>+</button> </div>
                <div class="deck_slot"> <button>+</button> </div>
                <div class="deck_slot"> <button>+</button> </div>
            </div>
    
            <div class="deck_slot_parent">
                <div class="deck_slot"> <button>+</button> </div>
                <div class="deck_slot"> <button>+</button> </div>
                <div class="deck_slot"> <button>+</button> </div>
            </div>

        </div>

    </div>

    <div id="pokemon_list">

        <div id="pokemon_list_child">

            <div id="list_pokemon_owned">
            
            </div>
            
            <div id="list_pokemon_unowned">
                
                <div id="title_label_unowned">
                    
                    <h3>Belom dapet</h3>
                    
                    <div class="arrow"> 
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAPJJREFUWEftlWEOgjAMRstJ9Gh6EvUkeDS9iWsiSVnWfl1ZIpjyh8DW7fHalYl2dk0746EEQhlJQ2kIGUDjf1lDdyK6fb/8Ue78HL5GGEogpD8NpSFkAI3/pIZmInorPcYDZMWvPtjTh3ixi9H4EBCK7waSG3Jw3Y0tIAnDsc9i+mrVgMcQx1tQGlA3DG/kBbKgWkAhmF4gDYrfy5/rSdScK00yhT2Glrg6fa9SG2elLmDN1HERoJapFk83TCRlcuPalBwLwWwF0kyFYUYA1VCbYEYBLVB8usymh36KI4E8e7nmRE+Za/HIpARC1tLQ4Qx9ABgfPiUPd/+7AAAAAElFTkSuQmCC"/>
                    </div>
                    
                </div>  
                
                <div id="content_unowned_pokemon">

                </div>
            </div>

        </div>

    </div>

    {% raw %}
        <script id="pokeCard" type="text/x-handlebars-template">
            {{#each pokemons}}
            <div class="card">
                <div class="image" style="background: url('{{imageUrl}}');"></div>

                <h4 class="poke-name">{{name}}</h4>

            </div>
            {{/each}}
        </script>
    {% endraw %}

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script>
        let menuToggle = document.querySelector('.menuToggle');
        let menu = document.querySelector('.menu');
        menuToggle.onclick = function(){
            menu.classList.toggle('active');
        }
    </script>
{% endblock content %}